*.m4v 
*.tar 
*.tar.gz 
*.gz 
*.zip 
*.jar 
*.bin 
*.pdf 
*.so.6 
*.jpg 
*.png 
.gitattributes 
*.m4v 
*.tar 
*.tar.gz 
*.gz 
*.zip 
*.jar 
*.bin 
*.pdf 
*.pyc_payload 
*.so.6 
chall 
emulator 
jit_server 
jit_server_remote 
system_update 
malw 
*.jpg 
*.png 
